extends post

block container
    h4 page.links
    ul.friend-links
        each key, value in theme.links
            li.link-item
                a.friend-link(href=url_for(value) target="_blank")
                    != key

block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright